.mainDiv{
    background-color: rgba(216, 247, 255, 0.444);
    height: 100vh;
}
.aboutContainer {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.title {
    font-size: 2.5em;
    margin-bottom: 20px;
}
.subtitle {
    font-size: 2em;
    margin-top: 30px;
    margin-bottom: 10px;
}

.text {
    font-size: 1em;
    margin-bottom: 20px;
}

@media(max-width:600px){
    .mainDiv{
        height: auto;
    }
}